body { 
	color: #5a5a5a;
}

p { 
	padding: 0; 
	margin-bottom: 0; 
    font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 16px; 
	line-height: 26px;
	letter-spacing: 1px;
	color: #666; 
	margin-top: 0; 
}

html,
body {
	height: 100%;
	background: url(../img/header.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0;
	padding: 0;
    font-family: 'Lato', sans-serif;
}

/* HEADER SECTION */
#h {
	padding-top: 150px;
	text-align:center;
	color: white;
}

#h .logo {
	top: 30px;
	left: 45px;
	font-size: 18px;
	font-weight: 900;
	position:absolute; 
}

#h .social {
	top: 30px;
	right: 45px;
	font-size: 20px;
	position: absolute;
}

#h .social i {
	margin-left: 0;
}

#h a {
	color: white;
}

#h a:hover {
	color: #03C9A9;
}

h1 {
	font-weight: 700;
	color: white;
	font-size: 40px;
	font-family: 'Lato', sans-serif;

}

/* FOOTER */
#f {
	background: #2f2f2f;
	opacity: 0.7;
	color: white;
}

h5 {
	letter-spacing: 1px;
	margin: 0;
	padding-bottom: 10px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

h2 {
	letter-spacing: 1px;
	margin: 3px;
	padding: 3px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}


#f a {
	color: #b9b9b9;
}

#f a:hover {
	color: #03C9A9;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

a {
	text-decoration: none;
}